.body_container {
  max-width: 2000px;
  height: -webkit-fill-available;
}

.val_field {
  margin-bottom: 0px;
}

.val_all {
  padding: 0px;
}

.btn-secondary.active {
  background-color: #00c853;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card_sw {
  position: inherit;
  margin: 80px;
  zoom: 40%;
}
